.main-body {
  @include flex-row;
  font-family: $font-secondary;
  font-size: $fs-small;
  font-weight: 400;
  background-color: #ebedf0;
  height: 100%;

  overflow-x: hidden;
}

.content {
  @include flex-row;
  padding: toRem(10);
  font-family: $font-secondary;
  background-color: #ebedf0;
  width: 100%;
  height: 100%;
  overflow-x: auto;

  &__wrapper {
    width: 100%;
  }
}
